/**
 * Site wide CSS styles.
 * 
 * Breakpoints:
 * --small-device-breakpoint: 576px;
 * --medium-device-breakpoint: 768px;
 * --large-device-breakpoint: 992px;
 */

 :root {
	 --green: rgb(92, 147, 110);
	 --medium-green: rgb(121, 167, 136);
	 --light-green: rgb(151, 186, 162);

	 --black: rgb(62, 63, 63);
	 --medium-grey: rgb(79, 80, 80);
	 --grey: rgb(227, 229, 228);
 }

 @font-face {
	 font-family: lora;
	 src: url(../font/Lora/Lora-VariableFont_wght.ttf);
 }

 @font-face {
	font-family: ubuntu-light;
	src: url(../font/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
	font-family: ubuntu-medium;
	src: url(../font/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
	font-family: ubuntu-regular;
	src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
	font-family: ubuntu-bold;
	src: url(../font/Ubuntu/Ubuntu-Bold.ttf);
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: var(--grey);

	padding: 10%;
}

p {
	font-family: 'lora', monospace, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 160%;
}

.header-title {
	font-family: 'ubuntu-bold', monospace, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 74px;

	margin: 0;
	
	display: block;
	color: var(--black);
}

.header-lead {
	font-family: 'ubuntu-regular', monospace, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 140%;

	flex-shrink: 0;
	color: var(--black);
}

.lead-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.social-icons {
	float: right;
	flex-shrink: 0;
}

.icon {
	stroke-width: 1.5px;
}

.social-link-icon {
	display: inline-block;
	width: 27px;
	color: var(--green);
	stroke-width: 1.5;
}

a.social-link:link,
a.social-link:active,
a.social-link:visited {
	width: 27px;
	height: 27px;
	text-decoration: none;
	margin: 0 4px;
}

.header-rule {
	width: 100%;
	height: 2px;
	background-color: var(--green);
	border: none;
}

main#project-post-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding-top: 2rem;
}

.article-title {
	display: inline-block;

	font-family: 'ubuntu-bold', monospace, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: 39%;

	margin-bottom: 0;

	color: var(--black);

}

.section-title {
	font-family: 'ubuntu-light', monospace, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 51%;

	flex: 100%;

	color: var(--medium-grey);
}

section#projects {
	flex: 1 0 calc((100% / 12) * 5); /* take up 5 of screen columns */
	display: flex;
	flex-wrap: wrap;
}

section#posts {
	flex: 1 0 calc((100% / 12) * 5); /* take up 5 of screen columns */
}

section#projects > .project-wrapper {
	flex: 50%;
}

#section-seperator {
	flex-basis: calc((100% / 12) * 2);
}
@media screen and (max-width: 576px) {
	.header-lead {
		flex-basis: 100%;
	}

	section#projects {
		flex: 1 0 100%;
		margin-bottom: 1rem;
	}
	
	section#posts {
		flex: 1 0 100%;
	}

	section#projects > .project-wrapper {
		flex: 100%;
	}
}