<div class="project">
    <h2>{{ .name }}</h2>
    <p>{{ .description }}</p>
    {{ $dominantLanguage := (partial "GetDominantRepoLanguage" .)}}
    <span class="language-label">
        <span class="language-color" style="background: pink"></span>
        <span class="language-text">{{ $dominantLanguage }}</span>
    </span>
    <ul class="project-links">
        <li><a href="{{ .html_url }}">Code</a></li>
        {{ if ne .homepage nil }}
        <li><a href="{{ .homepage }}">Demo</a></li>
        {{ end }}
    </ul>
</div>