{{ if .Site.Menus.header }}
<nav id="main-menu" class="header-nav header-nav-closed">
    <svg viewBox="0 0 39 141" class="bracket">
        <use href="{{"svg/brackets.svg" | absURL}}#open-bracket"/>
    </svg>
    <svg viewBox="0 0 141 39" class="bracket-horizontal">
        <use href="{{"svg/brackets.svg" | absURL}}#open-bracket-horizontal"/>
    </svg>


    {{ range .Site.Menus.header }}
        <a class="header-link" href="{{.URL}}">{{.Name}}</a>
    {{ end }}

    <svg viewBox="0 0 141 39" class="bracket-horizontal">
        <use href="{{"svg/brackets.svg" | absURL}}#close-bracket-horizontal"/>
    </svg>
    <svg viewBox="0 0 39 141" class="bracket">
        <use href="{{"svg/brackets.svg" | absURL}}#close-bracket"/>
    </svg>
    
    <button id="menu-close" class="menu-toggler" aria-label="Close Menu">
        <svg viewBox="0 0 24 24" class="menu-icon">
            <use href="{{"icons/icons.svg" | absURL}}#x"/>
        </svg>
    </button>
</nav>
<button id="menu-open" class="menu-toggler" aria-label="Open Menu">
	<svg viewBox="0 0 24 24" class="menu-icon">
		<use href="{{"icons/icons.svg" | absURL}}#menu"/>
	</svg>
</button>
<div class="header-nav-overlay"></div>
{{ end }}