<!DOCTYPE html>
{{- $language_code := site.LanguageCode | default "en-us" -}}
<html lang="{{$language_code}}" {{ if in site.Data.i18n.rtl.rtl $language_code }}dir="rtl"{{end}}>

{{ partial "head" . }}
<body>
	<header class="homepage-header">
		<div class="brand-container">
			<h1>Alex<br/>Dawson</h1>

			<span class="header-lead">Full Stack Developer</span>
			<nav class="social-nav">
				{{ if ne $.Site.Params.twitterProfile ""  }}
				<a href="{{ $.Site.Params.twitterProfile }}" class="social-link">
					<svg viewBox="0 0 24 24" class="social-link-icon">
						<use href="{{"icons/icons.svg" | absURL}}#twitter"/>
					</svg>
				</a>
				{{ end }}

				{{ if ne $.Site.Params.githubProfile "" }}
				<a href="{{ $.Site.Params.githubProfile }}" class="social-link">
					<svg viewBox="0 0 24 24" class="social-link-icon">
						<use href="{{"icons/icons.svg" | absURL}}#github"/>
					</svg>
				</a>
				{{ end }}

				{{ if ne $.Site.Params.figmaProfile "" }}
				<a href="{{ $.Site.Params.figmaProfile }}" class="social-link">
					<svg viewBox="0 0 24 24" class="social-link-icon">
						<use href="{{"icons/icons.svg" | absURL}}#figma"/>
					</svg>
				</a>
				{{ end }}
			</nav>
		</div>
		<section class="intro">
			<svg viewBox="0 0 39 141" class="bracket">
				<use href="{{"svg/brackets.svg" | absURL}}#open-bracket"/>
			</svg>
			<svg viewBox="0 0 141 39" class="bracket-horizontal">
				<use href="{{"svg/brackets.svg" | absURL}}#open-bracket-horizontal"/>
			</svg>

			<p class="intro-text">
				Alex Dawson is a software engineer based in Nottinghamshire, UK. In time, he wants to try his hand at everything related to development, but right now he’s working with Java, and Oracle databases.					
			</p>

			<svg viewBox="0 0 141 39" class="bracket-horizontal">
				<use href="{{"svg/brackets.svg" | absURL}}#close-bracket-horizontal"/>
			</svg>
			<svg viewBox="0 0 39 141" class="bracket">
				<use href="{{"svg/brackets.svg" | absURL}}#close-bracket"/>
			</svg>
		</section>
	</header>
	<main class="center-column">
		<h2 class="light section-heading">Posts</h2>
		<section id="posts">{{ partial "RenderFirstTenPosts" . }}</section>
		
		<h2 class="light section-heading">Projects</h2>
		<section id="projects">{{ partial "RenderTopProjects" . }}</section>
	</main>
	{{ partial "common_js" . }}
	{{ partial "homepage_js" . }}
</body>
</html>