{{- define "main" -}}
	<header class="homepage-header">
		<div class="brand-container">
			<h1>Alex<br/>Dawson</h1>

			<span class="header-lead">Full Stack Developer</span>
			<nav class="social-nav">
				{{ with $.Site.Params.TwitterUser }}
				<a href="{{ path.Join "https://twitter.com" . }}" class="social-link">
					<svg viewBox="0 0 24 24" class="social-link-icon">
						<use href="{{"icons/icons.svg" | absURL}}#twitter"/>
					</svg>
				</a>
				{{ end }}

				{{ with $.Site.Params.GitHubUser }}
				<a href="{{ path.Join "https://github.com" . }}" class="social-link">
					<svg viewBox="0 0 24 24" class="social-link-icon">
						<use href="{{"icons/icons.svg" | absURL}}#github"/>
					</svg>
				</a>
				{{ end }}

				{{ with $.Site.Params.LinkedInUser }}
				<a href="{{ path.Join "https://linkedin.com/in" . }}" class="social-link">
					<svg viewBox="0 0 24 24" class="social-link-icon">
						<use href="{{"icons/icons.svg" | absURL}}#linkedin"/>
					</svg>
				</a>
				{{ end }}
			</nav>
		</div>
		
		{{ with $.Site.Params.summary }}
		<section class="intro">
			<svg viewBox="0 0 39 141" class="bracket">
				<use href="{{"svg/brackets.svg" | absURL}}#open-bracket"/>
			</svg>
			<svg viewBox="0 0 141 39" class="bracket-horizontal">
				<use href="{{"svg/brackets.svg" | absURL}}#open-bracket-horizontal"/>
			</svg>

			<p class="intro-text">{{.}}</p>

			<svg viewBox="0 0 141 39" class="bracket-horizontal">
				<use href="{{"svg/brackets.svg" | absURL}}#close-bracket-horizontal"/>
			</svg>
			<svg viewBox="0 0 39 141" class="bracket">
				<use href="{{"svg/brackets.svg" | absURL}}#close-bracket"/>
			</svg>
		</section>
		{{ end }}
	</header>
	<main class="center-column">
		<h2 class="light section-heading">Posts</h2>
		<section id="posts">{{ partial "RenderFirstTenPosts" . }}</section>
		
		<h2 class="light section-heading">Projects</h2>
		<section id="projects">{{ partial "RenderTopProjects" . }}</section>
	</main>
{{- end -}}